<li>
  <h2>
    <%= post.title %>
  </h2>

  <p>
    <%= post.body %>
  </p>

  <% if logged_in? && is_premium? %>
    <p>
      <small>The author is <strong><%= post.user.name %></strong></small>
    </p>
  <% end %>
</li>
