<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <%= link_to 'MembersOnly', root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% unless logged_in? || controller_name == 'sessions' %>
          <li class="nav-item">
            <%= link_to 'Log in', login_path, class: 'nav-link' %>
          </li>
        <% else %>
          <% unless controller_name == 'sessions' %>
            <li class="nav-item">
              <%= link_to 'Log out', logout_path,
                method: :delete, class: 'nav-link' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
